mixin table(stt, src, p1, p2, p3, p4, i)    
    tr
        td 
            p= stt
        td(align=center)
            img(src= src)
        td
            p= p1
        td
            p= p2
        td
            p= p3
        td
            p= p4
        td
            i(class= i)